.nav-pills a {
    margin-left: 1%;
    border:white solid 1px;
} 

.nav-pills a:hover {
    color:#007bff !important;
    background-color: white !important;
    border:#007bff solid 1px;
} 
.selected
{
    color:#007bff !important;
    background-color: white !important;
    border:#007bff solid 1px !important;
}
.nav-pills a > #right_arrow_blue
{
    display: none;
}
.nav-pills a > #left_arrow_blue
{
    display: none;
}
.nav-pills a > #right_arrow_white
{
    display: inline;
}
.nav-pills a > #left_arrow_white
{
    display: inline;
}
.nav-pills a:hover > #right_arrow_white
{
    display: none;
}
.nav-pills a:hover > #left_arrow_white
{
    display: none;
}
.nav-pills a:hover > #right_arrow_blue
{
    display: inline;
}
.nav-pills a:hover > #left_arrow_blue
{
    display: inline;
}
.container-fluid
{
    margin-top: 1%;
}
#left_arrow_white
{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
#left_arrow_blue
{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
p{
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #007bff;
}

#chart_div
{
    margin-bottom:2%;
    margin-top: 1%;
}
.text-center
{
    margin-top:2%;
}
body
{
    background-color: white !important;
    height: 100%;
    overflow: hidden;
}
#leftbox
{
    top: 0;
    bottom: 0;
}
#inner_container{
    position:absolute;
    overflow:scroll !important;
    border: rgb(0, 134, 67) solid 2px;
    border-radius: 10px;
    height: 100%;
    width: 92%;
    top:0;
    bottom:0;
}
.divider
{
    height: 50px;
    background-color: rgb(0, 134, 67);
    border-bottom: rgb(255, 255, 255) solid 0.1px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-weight: bolder;
    padding-top:5px;
    padding-bottom:5px;
}
.entry{
    border-bottom: rgb(98, 163, 131) solid 2px;
    background-color: white;
}

.card_name
{
    text-align: center;
    font-weight:bold;
    color: rgb(0, 134, 67);
    text-transform: capitalize;
}

#position_container .card_name {
    text-transform: uppercase;
}

 .min, .max, .current
{
    margin-left: 2%;
    line-height: 5px;
    font-size: 12px;
    color: rgb(0, 134, 67);
}

